body {
  box-sizing: border-box;
  background: url("./images/light-grunge-texture-.50.png") rgb(222, 225, 226);
  font-family: 'helvetica';
  font-size: 20px;
}

header {
  background: url("./images/light-grunge-texture-.50.png") rgb(222, 225, 226);
  box-shadow: 0 2px 24px rgba(0, 0, 28, 0.6);
  z-index: 1100;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  min-height: 50px;
}

header img {
  height: 60px;
  width: auto;
}

#app {
  padding-top: 60px;
}

.main {
  display: flex;
  justify-content: center;
}

.deck {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.deckCard {
  width: 20%;
  padding: 10% 0;
  background: linear-gradient(135deg, transparent 8px, rgb(255, 255, 255) 5px);
  cursor: pointer;
  margin: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  box-shadow: 0 7px 10px -5px rgba(0, 0, 28, 0.6);
}

.deckCard:hover {
  transition: ease 0.5s;
  transform: scale(1.1);
}

.card {
  width: 80%;
  height: 430px;
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.back {
  background-image: url(./images/dark-grunge-texture.png), linear-gradient(rgb(0, 145, 179) 0%, rgb(8, 19, 1) 100%);
  box-shadow: 0 7px 10px -5px rgba(0, 0, 28, 0.6);
}

.back img {
  width: 50%;
}

.front {
  background: linear-gradient(135deg, transparent 40px, rgb(255, 255, 255) 10px);
  box-shadow: 0 10px 5px -5px rgba(0, 0, 28, 0.6);
}

@media (min-width: 400px) {
  header img {
    height: 60px;
    width: auto;
  }
  .card {
    height: 670px;
    max-width: 650px;
  }
}

@media (min-width: 700px) {
  .deckCard {
    padding: 13% 0;
    max-width: 170px;
  }
  .card {
    height: 850px;
    max-width: 650px;
  }
}

@media (min-width: 1000px) {
  .deckCard {
    padding: 127px 0;
  }
}
