body {
  box-sizing: border-box;
  background: url("./images/light-grunge-texture-.50.png") rgb(222, 225, 226);
  font-family: 'helvetica';
  color: rgba(0, 0, 0, 0.7);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);

}

header {
  /*not show stuff that might possibly go under the header*/
  background: url("./images/light-grunge-texture-.50.png") rgb(222, 225, 226);
  box-shadow: 0 2px 24px rgba(0, 0, 28, 0.6);
  /*make sure that the header is always on top*/
  z-index: 1100;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

header img {
  height: 60px;
  width: auto;
}

.main {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  /*give room for card to flip*/
  perspective: 800px;
}

.deck {
  width: 100%;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: 1400px;
}

.deckCard {
  width: 20%;
  padding: 10% 0;
  background: linear-gradient(135deg, transparent 10px, rgb(255, 255, 255) 5px);
  cursor: pointer;
  margin: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  align-items: center;
  box-shadow: 0 7px 5px -5px rgba(0, 0, 28, 0.6);
  font-size: 25px;
}

.deckCard:hover {
  transition: ease 0.3s;
  transform: scale(1.1);
}

.card {
  width: 80%;
  height: 430px;
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 60px;
}

/*the container that ReactCSSTransitionGroup adds*/
span {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.back {
  background-image: url(./images/scanline-pattern@2x.png), url(./images/dark-grunge-texture.png), linear-gradient(rgb(0, 145, 179) 0%, rgb(8, 19, 1) 100%);
  box-shadow: 0 10px 5px -5px rgba(0, 0, 28, 0.6);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.back img {
  width: 50%;
}

.front {
  background: linear-gradient(135deg, transparent 40px, rgb(255, 255, 255) 10px);
  box-shadow: 0 10px 5px -5px rgba(0, 0, 28, 0.6);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/*classes added by reactCSSTransitionGroup*/
.flip-appear, .flip-enter {
  -webkit-transform: rotateY(-90deg);
  transform: rotateY(-90deg);
}

.flip-appear.flip-appear-active, .flip-enter.flip-enter-active {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  transition: 1s;
}

/*handle different screen widths*/
@media (min-width: 400px) {
  .deckCard {
    font-size: 40px;
  }
  .card, span {
    height: 660px;
    max-width: 650px;
    font-size: 90px;
  }
}

@media (min-width: 700px) {
  .deckCard {
    padding: 10% 0;
    max-width: 170px;
    background: linear-gradient(135deg, transparent 20px, rgb(255, 255, 255) 5px);
    font-size: 60px;
  }
  .card, span {
    height: 800px;
    max-width: 550px;
    font-size: 110px;
  }
}

@media (min-width: 1000px) {
  .deckCard {
    padding: 100px 0;
  }
}
